<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>VOIR SUR LA CARTE</h2>
        <ol class="breadcrumb">
            <li><a>LIEUX</a> </li>
            <li class="active"><strong>VOIR SUR LA CARTE</strong> </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div id="dvMap" style="width: 900px; height: 700px">
        </div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCp5k2CvKy62vsK5TpTTVRB2jazKpOXICs"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var title = "@Model.INTITULE";
        var lat = "@Model.LATITUDE";
        var lng = "@Model.LONGITUDE";
        var description = "@Model.INTITULE";
        lat = lat.replace(",", ".");
        lng = lng.replace(",", ".");

        var markers = [
    {
        "title": title,
        "lat": lat,
        "lng": lng,
        "description": description
    }
        ];
        window.onload = function () {
            LoadMap();
        };

        var map;
        var marker;
        function LoadMap() {
            var mapOptions = {
                center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
            SetMarker(0);
        };
        function SetMarker(position) {
            //Remove previous Marker.
            if (marker != null) {
                marker.setMap(null);
            }

            //Set Marker on Map.
            var data = markers[position];
            var myLatlng = new google.maps.LatLng(data.lat, data.lng);
            marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: data.title
            });

            //Create and open InfoWindow.
            var infoWindow = new google.maps.InfoWindow();
            infoWindow.setContent("<div style = 'width:200px;min-height:40px'>" + data.description + "</div>");
            infoWindow.open(map, marker);
        };
    });

</script>
