<link href="~/css/select2.min.css" rel="stylesheet" type="text/css" />
@using IMMOBILISATION.Models;
@{
    ImmobilisationEntities BD = new ImmobilisationEntities();
    List<FAMILLES_IMMOBILISATIONS> ListeFamille = BD.FAMILLES_IMMOBILISATIONS.ToList();
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>FICHES TECHNIQUES</h2>
        <ol class="breadcrumb">
            <li><a>IMMOBILISATIONS</a> </li>
            <li class="active"><strong>FICHES TECHNIQUES</strong> </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <select class="form-control" name="IMMOBILISATION" id="IMMOBILISATION">
                <option></option>
                @foreach (FAMILLES_IMMOBILISATIONS Famille in ListeFamille)
                {
                    <optgroup label="@Famille.FAMILLE">
                        @foreach (var item in Model)
                        {
                            if (item.FAMILLES_IMMOBILISATIONS.ID == Famille.ID)
                            {
                            <option value="@item.ID">@item.CODE</option> 
                            }
                        }
                    </optgroup> 
                }
            </select>
        </div>
    </div>
    <div class="row" id="Content"></div>
</div>
<script src="~/js/select2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#IMMOBILISATION").select2();
    });
    $(document).on("change", "#IMMOBILISATION", function (e) {
        $.get('@Url.Action("_Fiche", "Immobilisation")?Code=' + this.value, function (data) {
            $('#Content').html(data);
        });
    });
</script>
