<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>NATURES DES BIENS</h2>
        <ol class="breadcrumb">
            <li><a>NATURES DES BIENS</a> </li>
            <li class="active"><strong>@ViewBag.TITRE</strong> </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    @using (Html.BeginForm("SendForm", "NatureBien", new { Mode = ViewBag.Mode, Code = ViewBag.Code }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "FORM" }))
    {

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="col-lg-2 control-label" style="padding-left: 0px; text-align: initial;">
                        NATURE</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="NATURE" id="NATURE" value="@Model.NATURE">
                    </div>
                </div>
            </div>
        </div> 

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="col-lg-2 control-label" style="padding-left: 0px; text-align: initial;">
                        TYPE</label>
                    <div class="col-lg-10">
                        <select class="form-control" name="TYPE" id="TYPE">
                            <option value="CORPOREL">CORPOREL</option>
                            <option value="INCORPOREL">INCORPOREL</option>
                            <option value="FINANCIER">FINANCIER</option>
                        </select>
                    </div>
                </div>
            </div>
        </div> 
        
        <div class="row pull-right" style="margin-right: 15px; margin-top: 15px;">
            <button type="button" class="btn btn-w-m btn-success" id="Valider"><i class="fa fa-check-square-o" aria-hidden="true"></i>Valider</button>
        </div>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var Mode = "@ViewBag.Mode";
        var TYPE = "@Model.TYPE";
        if (Mode == "Edit") {
            $("#TYPE option").filter(function () {
                return $(this).text() == TYPE;
            }).prop('selected', true);
        }
        $('#FORM').validate({
            rules: {
                NATURE: {
                    required: true
                }
            }
        });
    });
    $("#Valider").click(function () {
        var r = confirm("Voulez vous vraiment valider cette action ?");
        if (r == true) {
            $("form").submit();
        }
    });
</script>

